<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" src="login.css">
</head>
<body>
    <form action="/login" method="POST">
        <h3>Employee Login</h3>
        <input type="text" placeholder="USER ID" name="userid"><br><br>
        <input type="text" placeholder="PASSWORD" name="pass"><br><br>
        <input type="submit" value="submit"><br>
    </form>
</body>
</html>